<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Index Page</title>
</head>

<body>
</body>
  <h1>The Box</h1>

  <div>
    <h2>Box model</h2>
    <p>在 CSS 中， Box model 用于描述构成网页的元素，即一个个正方形 box.</p>
    <p>本质上，一切皆为正方形。</p>
    <img src="box-model.svg" alt="" />

    <p>一些有趣的效果:</p>
    <ul>
      <li>border-radius 使 box 的四个角更平滑</li>
      <li>box-shadow 添加阴影 (x偏移，y偏移，模糊度，颜色)</li>
      <li>outline 和 box-shadow 并不是 box 的一部分，所以不会影响布局。</li>
    </ul>
    <div style="width: 100px; height: 100px; border: 1px solid black; border-radius: 10px; box-shadow: 10px 5px 5px black;">
    </div>
  </div>

  <div>
    <h2>Box sizing</h2>
    <p>box-sizing 属性用于控制 box 的大小。两个值可选：</p>
    <ul>
      <li>content-box: 默认值。计算 box 的宽高时，padding, border 需要额外加上。</li>
      <li>border-box: padding, border 已包含在 box 的宽高内。注意： margin 不在这之内。最适宜场景就是把一个区域按百分比划分为3列。</li>
    </ul>

    <style type="text/css">
      .box {
        height: 100px;
        width: 100px;
        padding: 20px;
        border: 5px solid black;
        margin: 5px;
      }
    </style>
    <p>
      <b>Example:</b>
    </p>
    <p>
        height: 100px;
        width: 100px;
        padding: 20px;
        border: 5px solid black;
        margin: 5px;
    </p>
    <div class="box" style="box-sizing: content-box;">
    </div>
    <div class="box" style="box-sizing: border-box;">
    </div>

    <p>
      <b>推荐在所有 CSS 之前加入：(Bootstrap 3 已采用)</b>
      <pre>
      *, *:before, *:after {
        -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
        -moz-box-sizing: border-box; /* Needed for Firefox */
        box-sizing: border-box;
      }
      </pre>
    </p>

    <div style="width: 800px; overflow: hidden;">
      <p>测试三列布局, 不要使用 inline-block</p>
      <style type="text/css">
        .column {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          height: 100px;
          border: 1px dotted black;
          float: left;
        }
      </style>
      <div class="column" style="width: 30%;">
      </div>
      <div class="column" style="width: 40%;">
      </div>
      <div class="column" style="width: 30%;">
      </div>
    </div>
  </div>

  <div>
    <h2>参考</h2>
    <ul>
      <li>
        <a href="http://adamschwartz.co/magic-of-css/chapters/1-the-box/">The Box</a>
      </li>
    </ul>
  </div>

</html>


