<!DOCTYPE html>
<html ng-app="d3DemoApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS + D3.js</title>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/d3/d3.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="AppCtrl">
    <!-- Here's where our visualization will go -->
    <!--
    <gh-visualization val="data"></gh-visualization>
    -->
    <p>Hello, {{name}}</p>
    <my-directive></my-directive>
  </body>
</html>