<!DOCTYPE html>

<!-- The first line used to tell validators and editors what tags and
attributes you can use and how the document should be formed. It’s also used
by a lot of web browsers to determine how the browser will render the page.
-->

<html>
  <head>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
    <!--
    <link rel="stylesheet" href=".css">
    <script type="text/javascript" src=".js"></script>
    -->
  </head>

  <body>
  </body>
</html>
