var that = this;
$.ajax({
    type: "POST",
    url: "/tool",
    data: {key1: "value1", key2: "value2"},
    success: function(data) {
        alert("success");
        var json_data = $.parseJSON(data);
        that.<method_name>();
    },
    error: function() {
        alert("error");
    }
});
